<template>
    <v-card>
    <v-card-title class="text-h5">
      Payment {{ resultData.model.id }} Status {{ resultData.model.status }}
    </v-card-title>
    <v-card-text>
      <vue-json-pretty
        :path="'res'"
        :deep="deep"
        :showLength="showLength"
        :data="resultData"
        :highlightMouseoverNode ="highlightMouseoverNode"
        :showLine="showLine"
      >
      </vue-json-pretty>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        color="green darken-1"
        text
        @click="close()"
      >
        Close
      </v-btn>
    </v-card-actions>
    </v-card>
</template>
<script>

import  VueJsonPretty from 'vue-json-pretty'

export default {
  components: {
    VueJsonPretty
  },
  data() {
    return {
      showLength: true,
      deep: 2,
      highlightMouseoverNode: false,
      showLine: false,
    }
  },
  props:{
    resultData:{}
  },
  methods:{
    close(){
      this.$emit('close-dialog');
    }
  }
}
</script>
